[project]
	description = Tool to track time spent in office hours on different activities
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Nayanish D Hinge (Nayanish)
[access "refs/for/refs/*"]
	read = group user/Nayanish D Hinge (Nayanish)
	push = group user/Nayanish D Hinge (Nayanish)
	label-Code-Review = -2..+2 group user/Nayanish D Hinge (Nayanish)
	label-Verified = -1..+1 group user/Nayanish D Hinge (Nayanish)
	rebase = group user/Nayanish D Hinge (Nayanish)
	removeReviewer = group user/Nayanish D Hinge (Nayanish)
	submit = group user/Nayanish D Hinge (Nayanish)
[access "refs/heads/*"]
	read = group user/Nayanish D Hinge (Nayanish)
	create = group user/Nayanish D Hinge (Nayanish)
	push = +force group user/Nayanish D Hinge (Nayanish)
	pushMerge = group user/Nayanish D Hinge (Nayanish)
[access "refs/tags/*"]
	push = +force group user/Nayanish D Hinge (Nayanish)
	pushTag = group user/Nayanish D Hinge (Nayanish)
	pushSignedTag = group user/Nayanish D Hinge (Nayanish)
